/* AppRouter.css */
body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #0f0e0d;
  background-color: cadetblue;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  background-color:bisque;
}

nav a {
  color: #333;
  text-decoration: none;
}